/* 기본 스타일 */
body,td,th,input,select,textarea {
	font-family: "맑은 고딕", Gulim, UnDotum, "돋움", dotum, Verdana, Arial,
		Helvetica, sans-serif;
}

#connect-container {
	float: left;
	width: 400px
}

#connect-container div {
	padding: 5px;
}

#console-container {
	float: left;
	margin-left: 15px;
	width: 400px;
}

#console {
	border: 1px solid #CCCCCC;
	border-right-color: #999999;
	border-bottom-color: #999999;
	height: 170px;
	overflow-y: scroll;
	padding: 5px;
	width: 100%;
}

#console p {
	padding: 0;
	margin: 0;
}

/*signup page */
.form-signup {
	max-width: 440px;
	padding: 15px;
	margin: 0 auto;
}

.form-signup .signup-padding-bottom {
	padding: 5px;
}

.form-signup .signup-margin-top {
	margin-top: 10px;
}

.form-signup .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-signup .form-control:focus {
	z-index: 2;
}

.form-signup .form-signup-heading {
	margin-bottom: 10px;
}
/*signup page end*/

/* sign in page start*/
body {
	background-color: #eee;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading,.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

/*sign in page end*/